/*---google fonts---*/
@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');
/* font-family: "Azeret Mono", monospace; */




/*---universal selector----*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/*---universal selector----*/

/*---shared style start---*/
.btn {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    padding: 17px 24px;
}
/*---shared style end---*/

/*--- header section  start ---*/
header {
    max-width: 1440px;
    margin: 0 auto;
}
header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px 150px;
}
.logo {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 28px;
    font-weight: 800;
    line-height: 33px;
}
nav button {
    border: 1px solid rgb(13, 19, 33);
    border-radius: 8px;		
    opacity: 0.8;  
    background: transparent;
    cursor: pointer;
}
.banner {
    width: 1440px;
    height: 652px;
    margin: 0 auto;
    background: url(../assets/Hero-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banenr-text {
    max-width: 998px;
    max-height: 582px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;
}
.banenr-text img {
    max-width: 173.03px;
    max-height: 228.9px;
    background-size: cover;
    background-position: center;
}
.banenr-text h1 {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 48px;
    font-weight: 800;
    line-height: 68px;
    text-align: center;
}
.banenr-text p {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    opacity: 0.7;
    text-align: center;
}
.banenr-text button {
    border: none;
    border-radius: 8px;
    background: rgb(13, 19, 33);
}
.banenr-text button a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}
/*--- header section end ---*/

/*---whyWebDev section start---*/
.whyWebDev {
    /* border: 2px solid red; */
    background: rgba(13, 19, 33, 0.02);
    border-radius: 16px;
    margin: 74px auto;
    padding: 80px 97px;
    max-width: 1140px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.whyWebDev-box {
    /* border: 1px solid green; */
    width: 946px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.text {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 24px;
}
.text h3 {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 32px;
    font-weight: 800;
    line-height: 37px;
}
.text p {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    text-align: center;
    margin-bottom: 48px;
}
.content {
    display: flex;
    flex-direction: column;
    gap: 32px;
    /* border: 2px solid blueviolet; */
}
.content-box {
    /* border: 2px solid rgb(58, 62, 64); */
    width: 850px;
    padding: 48px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 16px;
	background: linear-gradient(90.00deg, rgb(255, 255, 255),rgba(255, 255, 255, 0) 100%);
}
.content-text {
    width: 477px;
    display: flex;
    flex-direction: column;
}
.content-text h3 {
    color: rgba(13, 19, 33, 0.7);
    font-family: Azeret Mono;
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
}
.content-text p {
    margin-top: 16px;
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    opacity: 0.7;
}
.content-text button {
    margin-top: 32px;
    display: flex;
    justify-content: center;
    align-self: start;
    padding: 12px 20px;
    opacity: 0.7;
    border: none;
    border: 1px solid rgb(13, 19, 33);
    cursor: pointer;
    background-color: transparent;
}
.content-img {
    max-width: 259.56px;
    height: 217.01px;
}
.content-img img {
    width: 100%;
    height: 100%;
}
/*---whyWebDev section end---*/


/*---inspiration section start---*/
.inspiration {
    margin: 0 auto;
    max-width: 1140px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.inspiration h3 {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 32px;
    font-weight: 800;
    line-height: 37px;
    margin-bottom: 24px;
}
.inspiration p {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    text-align: center;
    margin-bottom: 48px;
}
.video {
    width: 100%;
    height: 614px;
    border: 1px solid rgba(13, 19, 33, 0.2);
    border-radius: 16px;
    padding: 32px;
}
.video iframe {
    border-radius: 16px;
}
/*---inspiration section end---*/

/*---inspiration section start---*/
.target {
    margin: 0 auto;
    margin-top: 149px;
    max-width: 1140px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.target h3 {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 32px;
    font-weight: 800;
    line-height: 37px;
}
.target p {
    margin: 24px 0;
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    opacity: 0.7;
}
.target-box {
    margin-top: 48px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
}
.target-box-content {
    flex-basis: 33%;
    padding: 40px;
    border-radius: 16px;
    background: rgba(255, 76, 30, 0.05);
}
.target-box-content a {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    text-decoration-line: underline;
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
}
.target-box-content h3{
    margin-top: 24px;
    font-size: 24px;
    line-height: 36px;
}
.target-box-content p {
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}
.second-skill {
    background: rgba(0, 76, 232, 0.05);
}
.third-skill {
    background: rgba(255, 223, 0, 0.05);
}
/*---inspiration section end---*/

/*---feedback start---*/
.support {
    margin:  0 auto;
    max-width: 1140px;
    padding: 64px 48px;
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../assets/handshake.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 16px;
    margin-top: 41px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.support h2 {
    color: rgb(255, 255, 255);
    font-family: Azeret Mono;
    font-size: 32px;
    font-weight: 700;
    line-height: 36px;
    margin-bottom: 16px;
}
.support p {
    color: rgb(255, 255, 255);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    opacity: 0.7;
    margin-bottom: 39px;
}
.input {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    
}
.input input {
    border: 1px solid rgba(13, 19, 33, 0.15);
    border-radius: 8px;
    background: rgb(255, 255, 255);
    width: 548px;
    padding: 19px;
    font-size: 16px;
    line-height: 19px;
}
.input button {
    border-radius: 8px;
	background: rgb(255, 255, 255);
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    padding: 17px 20px;
}

/*---feedback end---*/

/*---footer section---*/
#footer {
    max-width: 1440px;
    height: 100px;
    margin: 0 auto;
    margin-top: 80px;
    padding: 0 150px;
    border-radius: 16px;
    background: rgba(13, 19, 33, 0.03);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#footer p {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
}
.social{
    display: flex;
    flex-direction: row;
    gap: 24px;
}

